In [1]:
import pandas as pd
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#Establish db connection
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [3]:
# Define the Mongo database
# Declare the db
db = client.mars_db

# Declare the collection
collection = db.mars

In [4]:
#Define executable path and initialize the browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\khagl\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

## NASA Mars News Scraping

[Mars News Site](https://redplanetscience.com/)

In [5]:
# Initialize the browser
url = 'https://redplanetscience.com/'
browser.visit(url)

In [6]:
#Parse into Beautiful Soup object
news_html = browser.html
soup = BeautifulSoup(news_html, "html.parser")

In [7]:
# Iterate through all cards of the news in the bootstrap code
# Retrieve all elements that contain News Titles and Paragraph Text
articles = soup.find_all("div", class_ = "list_text")
   
# Iterate through each card and retrieve headline and paragraph
for article in articles:
       
    # Use BeautifulSoup's find() method to navigate and retrieve attributes
    news_title = article.find("div", class_ = "content_title").text
    news_body = article.find("div", class_ = "article_teaser_body").text
    
    print("------------------------------------------")
    print(f"Headline:  {news_title}")
    print(f"Content:  {news_body}")
   
    # Dictionary to be inserted as a MongoDB document
    post = {"Headline": news_title, 
            "Content": news_body,
           }
           
    collection.insert_one(post)

------------------------------------------
Headline:  NASA's MAVEN Explores Mars to Understand Radio Interference at Earth
Content:  NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.
------------------------------------------
Headline:  NASA's Mars Perseverance Rover Gets Its Sample Handling System
Content:  The system will be collecting and storing Martian rock and soil. Its installation marks another milestone in the march toward the July launch period.
------------------------------------------
Headline:  NASA's Treasure Map for Water Ice on Mars
Content:  A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.
------------------------------------------
Headline:  NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch
Content:  There are lots of ways to participate in the historic event, which is targeted for July 30.
------------------------------------------
Headline:  How NASA's Mars Helicopter Will Reach the Red Planet's Surface
Content:  The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.
------------------------------------------
Headline:  Mars InSight Lander to Push on Top of the 'Mole'
Content:  Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.
------------------------------------------
Headline:  A New Video Captures the Science of NASA's Perseverance Mars Rover
Content:  With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.
------------------------------------------
Headline:  Naming a NASA Mars Rover Can Change Your Life
Content:  Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.
------------------------------------------
Headline:  Celebrate Mars Reconnaissance Orbiter's Views From Above
Content:  Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.
------------------------------------------
Headline:  Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter
Content:  As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.
------------------------------------------
Headline:  NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
Content:  Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.
------------------------------------------
Headline:  Independent Review Indicates NASA Prepared for Mars Sample Return Campaign
Content:  NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.
------------------------------------------
Headline:  Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
Content:  NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
------------------------------------------
Headline:  Heat and Dust Help Launch Martian Water Into Space, Scientists Find
Content:  Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible.
------------------------------------------
Headline:  What's Mars Solar Conjunction, and Why Does It Matter?
Content:  NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [8]:
# Verify database results 
results = collection.find()
for result in results:
    print(result)

{'_id': ObjectId('60625210e3fb7546755f5d5c'), 'Headline': "InSight's 'Mole' Team Peers into the Pit", 'Content': 'Efforts to save the heat probe continue.'}
{'_id': ObjectId('60625210e3fb7546755f5d5d'), 'Headline': "NASA's Mars Helicopter Attached to Mars 2020 Rover ", 'Content': 'The helicopter will be first aircraft to perform flight tests on another planet.'}
{'_id': ObjectId('60625210e3fb7546755f5d5e'), 'Headline': "Follow NASA's Perseverance Rover in Real Time on Its Way to Mars", 'Content': "A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing."}
{'_id': ObjectId('60625210e3fb7546755f5d5f'), 'Headline': "Mars InSight Lander to Push on Top of the 'Mole'", 'Content': 'Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.'}
{'_id': ObjectId('60625210e3fb7546755f5d60'), 'Headline': "NASA's Curiosity Keeps Rolling As Team Operates Rover From Home", 'Content': 'The team has learned to meet new challenges as they work remotely on the Mars mission.'}
{'_id': ObjectId('60625210e3fb7546755f5d61'), 'Headline': "Meet the People Behind NASA's Perseverance Rover", 'Content': "These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater. "}
{'_id': ObjectId('60625210e3fb7546755f5d62'), 'Headline': 'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities', 'Content': 'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.'}
{'_id': ObjectId('60625210e3fb7546755f5d63'), 'Headline': "NASA's Mars 2020 Rover Tests Descent-Stage Separation", 'Content': "A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft."}
{'_id': ObjectId('60625210e3fb7546755f5d64'), 'Headline': "NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound", 'Content': "The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet."}
{'_id': ObjectId('60625210e3fb7546755f5d65'), 'Headline': 'The Man Who Wanted to Fly on Mars', 'Content': "The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being."}
{'_id': ObjectId('60625210e3fb7546755f5d66'), 'Headline': "NASA's MAVEN Explores Mars to Understand Radio Interference at Earth", 'Content': 'NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.'}
{'_id': ObjectId('60625210e3fb7546755f5d67'), 'Headline': 'NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet', 'Content': "The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021. "}
{'_id': ObjectId('60625210e3fb7546755f5d68'), 'Headline': 'Mars 2020 Unwrapped and Ready for More Testing', 'Content': "In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing."}
{'_id': ObjectId('60625210e3fb7546755f5d69'), 'Headline': "HiRISE Views NASA's InSight and Curiosity on Mars", 'Content': 'New images taken from space offer the clearest orbital glimpse yet of InSight as well as a view of Curiosity rolling along.'}
{'_id': ObjectId('60625210e3fb7546755f5d6a'), 'Headline': 'Independent Review Indicates NASA Prepared for Mars Sample Return Campaign', 'Content': 'NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.'}
{'_id': ObjectId('60627c4e20535954b992e627'), 'Headline': 'Naming a NASA Mars Rover Can Change Your Life', 'Content': 'Want to name the robotic scientist NASA is sending to Mars in 2020? The student who named Curiosity — the rover currently exploring Mars — will tell you this is an opportunity worth taking.'}
{'_id': ObjectId('60627c4e20535954b992e628'), 'Headline': "NASA's Mars Reconnaissance Orbiter Undergoes Memory Update", 'Content': 'Other orbiters will continue relaying data from Mars surface missions for a two-week period.'}
{'_id': ObjectId('60627c4e20535954b992e629'), 'Headline': "NASA's Curiosity Keeps Rolling As Team Operates Rover From Home", 'Content': 'The team has learned to meet new challenges as they work remotely on the Mars mission.'}
{'_id': ObjectId('60627c4e20535954b992e62a'), 'Headline': "NASA's Mars 2020 Will Hunt for Microscopic Fossils", 'Content': "A new paper identifies a ring of minerals at the rover's landing site that are ideal for fossilizing microbial life."}
{'_id': ObjectId('60627c4e20535954b992e62b'), 'Headline': "Media Get a Close-Up of NASA's Mars 2020 Rover", 'Content': "The clean room at NASA's Jet Propulsion Laboratory was open to the media to see NASA's next Mars explorer before it leaves for Florida in preparation for a summertime launch."}
{'_id': ObjectId('60627c4e20535954b992e62c'), 'Headline': "NASA's Perseverance Rover Attached to Atlas V Rocket", 'Content': 'Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.'}
{'_id': ObjectId('60627c4e20535954b992e62d'), 'Headline': 'The MarCO Mission Comes to an End', 'Content': 'The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.'}
{'_id': ObjectId('60627c4e20535954b992e62e'), 'Headline': "NASA's Perseverance Mars Rover Gets Balanced", 'Content': "The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet."}
{'_id': ObjectId('60627c4e20535954b992e62f'), 'Headline': 'Join NASA for the Launch of the Mars 2020 Perseverance Rover', 'Content': 'No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.'}
{'_id': ObjectId('60627c4e20535954b992e630'), 'Headline': 'NASA Moves Forward With Campaign to Return Mars Samples to Earth', 'Content': 'During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.'}
{'_id': ObjectId('60627c4e20535954b992e631'), 'Headline': 'The Man Who Wanted to Fly on Mars', 'Content': "The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being."}
{'_id': ObjectId('60627c4e20535954b992e632'), 'Headline': "NASA's New Mars Rover Will Use X-Rays to Hunt Fossils", 'Content': "PIXL, an instrument on the end of the Perseverance rover's arm, will search for chemical fingerprints left by ancient microbes."}
{'_id': ObjectId('60627c4e20535954b992e633'), 'Headline': "NASA's Briefcase-Size MarCO Satellite Picks Up Honors", 'Content': 'The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.'}
{'_id': ObjectId('60627c4e20535954b992e634'), 'Headline': "8 Martian Postcards to Celebrate Curiosity's Landing Anniversary", 'Content': 'The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.'}
{'_id': ObjectId('60627c4e20535954b992e635'), 'Headline': "NASA's Mars Rover Drivers Need Your Help", 'Content': 'Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2323'), 'Headline': "Deadline Closing for Names to Fly on NASA's Next Mars Rover", 'Content': 'You have until Sept. 30 to send your names to Mars aboard the Mars 2020 rover. '}
{'_id': ObjectId('60627c8ed88eb8658e2a2324'), 'Headline': "8 Martian Postcards to Celebrate Curiosity's Landing Anniversary", 'Content': 'The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2325'), 'Headline': 'NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network', 'Content': 'Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2326'), 'Headline': "NASA Wins 4 Webbys, 4 People's Voice Awards", 'Content': 'Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA\'s Global Climate Change website and Solar System Interactive.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2327'), 'Headline': 'NASA to Reveal Name of Its Next Mars Rover', 'Content': "After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. "}
{'_id': ObjectId('60627c8ed88eb8658e2a2328'), 'Headline': "How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus ", 'Content': 'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2329'), 'Headline': "NASA InSight's 'Mole' Is Out of Sight", 'Content': "Now that the heat probe is just below the Martian surface, InSight's arm will scoop some additional soil on top to help it keep digging so it can take Mars' temperature."}
{'_id': ObjectId('60627c8ed88eb8658e2a232a'), 'Headline': 'The Man Who Wanted to Fly on Mars', 'Content': "The Mars Helicopter is riding to the Red Planet this summer with NASA's Perseverance rover. The helicopter's chief engineer, Bob Balaram, shares the saga of how it came into being."}
{'_id': ObjectId('60627c8ed88eb8658e2a232b'), 'Headline': 'NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget', 'Content': "Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return."}
{'_id': ObjectId('60627c8ed88eb8658e2a232c'), 'Headline': "Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate", 'Content': 'A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.'}
{'_id': ObjectId('60627c8ed88eb8658e2a232d'), 'Headline': "NASA's Mars 2020 Rover Completes Its First Drive", 'Content': 'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.'}
{'_id': ObjectId('60627c8ed88eb8658e2a232e'), 'Headline': "NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause", 'Content': "Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold."}
{'_id': ObjectId('60627c8ed88eb8658e2a232f'), 'Headline': 'NASA Invites Students to Name Mars 2020 Rover', 'Content': "Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover."}
{'_id': ObjectId('60627c8ed88eb8658e2a2330'), 'Headline': "NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'", 'Content': 'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'}
{'_id': ObjectId('60627c8ed88eb8658e2a2331'), 'Headline': "NASA's Mars 2020 Rover Tests Descent-Stage Separation", 'Content': "A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft."}
{'_id': ObjectId('60627f23d2618932eb6d0b13'), 'Headline': 'NASA Wins Two Emmy Awards for Interactive Mission Coverage', 'Content': "NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy."}
{'_id': ObjectId('60627f23d2618932eb6d0b14'), 'Headline': "NASA's Mars 2020 Heads Into the Test Chamber", 'Content': 'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.'}
{'_id': ObjectId('60627f23d2618932eb6d0b15'), 'Headline': 'With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen', 'Content': 'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. '}
{'_id': ObjectId('60627f23d2618932eb6d0b16'), 'Headline': "8 Martian Postcards to Celebrate Curiosity's Landing Anniversary", 'Content': 'The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.'}
{'_id': ObjectId('60627f23d2618932eb6d0b17'), 'Headline': "NASA's Mars Helicopter Attached to Mars 2020 Rover ", 'Content': 'The helicopter will be first aircraft to perform flight tests on another planet.'}
{'_id': ObjectId('60627f23d2618932eb6d0b18'), 'Headline': "NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars", 'Content': 'In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch. '}
{'_id': ObjectId('60627f23d2618932eb6d0b19'), 'Headline': "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover", 'Content': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'}
{'_id': ObjectId('60627f23d2618932eb6d0b1a'), 'Headline': "NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light", 'Content': 'Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.'}
{'_id': ObjectId('60627f23d2618932eb6d0b1b'), 'Headline': "Hear Audio From NASA's Perseverance As It Travels Through Deep Space", 'Content': "The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight."}
{'_id': ObjectId('60627f23d2618932eb6d0b1c'), 'Headline': 'NASA Mars Mission Connects With Bosnian and Herzegovinian Town', 'Content': 'A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.'}
{'_id': ObjectId('60627f23d2618932eb6d0b1d'), 'Headline': 'Scientists Explore Outback as Testbed for Mars ', 'Content': "Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars."}
{'_id': ObjectId('60627f23d2618932eb6d0b1e'), 'Headline': "Three New Views of Mars' Moon Phobos", 'Content': "Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow."}
{'_id': ObjectId('60627f23d2618932eb6d0b1f'), 'Headline': "Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate", 'Content': 'A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.'}
{'_id': ObjectId('60627f23d2618932eb6d0b20'), 'Headline': "Robotic Toolkit Added to NASA's Mars 2020 Rover", 'Content': "The bit carousel, which lies at the heart of the rover's Sample Caching System, is now aboard NASA's newest rover. "}
{'_id': ObjectId('60627f23d2618932eb6d0b21'), 'Headline': 'NASA Adds Return Sample Scientists to Mars 2020 Leadership Team', 'Content': 'The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.'}
{'_id': ObjectId('60628129d2618932eb6d0b22'), 'Headline': "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover", 'Content': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.'}
{'_id': ObjectId('60628129d2618932eb6d0b23'), 'Headline': 'With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen', 'Content': 'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. '}
{'_id': ObjectId('60628129d2618932eb6d0b24'), 'Headline': "NASA's MAVEN Explores Mars to Understand Radio Interference at Earth", 'Content': 'NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.'}
{'_id': ObjectId('60628129d2618932eb6d0b25'), 'Headline': "NASA's Perseverance Rover Will Peer Beneath Mars' Surface ", 'Content': "The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "}
{'_id': ObjectId('60628129d2618932eb6d0b26'), 'Headline': 'NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet', 'Content': "The agency's Mars 2020 mission is on its way. It will land at Jezero Crater in about seven months, on Feb. 18, 2021. "}
{'_id': ObjectId('60628129d2618932eb6d0b27'), 'Headline': 'New Selfie Shows Curiosity, the Mars Chemist', 'Content': 'The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.'}
{'_id': ObjectId('60628129d2618932eb6d0b28'), 'Headline': "NASA's Mars 2020 Rover Completes Its First Drive", 'Content': 'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.'}
{'_id': ObjectId('60628129d2618932eb6d0b29'), 'Headline': "NASA's Mars 2020 Comes Full Circle", 'Content': "Aiming to pinpoint the Martian vehicle's center of gravity, engineers took NASA's 2,300-pound Mars 2020 rover for a spin in the clean room at JPL. "}
{'_id': ObjectId('60628129d2618932eb6d0b2a'), 'Headline': 'The MarCO Mission Comes to an End', 'Content': 'The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.'}
{'_id': ObjectId('60628129d2618932eb6d0b2b'), 'Headline': "Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover", 'Content': 'NASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries. '}
{'_id': ObjectId('60628129d2618932eb6d0b2c'), 'Headline': "What's Mars Solar Conjunction, and Why Does It Matter?", 'Content': 'NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.'}
{'_id': ObjectId('60628129d2618932eb6d0b2d'), 'Headline': "NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate", 'Content': 'Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.'}

In [9]:
# browser.quit()

## JPL Mars Space Images Scraping

[Featured Space Image site](https://spaceimages-mars.com)

In [10]:
#Define executable path and initialize the browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\khagl\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [11]:
# Initialize the browser
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [12]:
#Parse into Beautiful Soup object
image_html = browser.html
soup = BeautifulSoup(image_html, "html.parser")

In [13]:
# Find the image url
image_path = soup.find("img", class_ = "headerimage")["src"]
print(image_path)

image/featured/mars1.jpg

In [14]:
featured_img_url = "https://spaceimages-mars.com/"+image_path
print(featured_img_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

[Mars Facts site](https://galaxyfacts-mars.com)

In [15]:
#Scrape the table using pandas
url = "https://galaxyfacts-mars.com/"
    
tables = pd.read_html(url)

tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [33]:
# First Table 
df1 = tables[0]
df1.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [34]:
# Drop the Earth column
df1 = df1.drop([2], axis=1)
df1.head()

                         0                1
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km

In [43]:
# Rename headers
df1 = df.rename(columns = {0:'Fact', 1:'Data'})
df1.head()

                      Fact             Data
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km

In [44]:
# Drop the first row
df1[df1.Fact != "Mars - Earth Comparison"]

                 Fact             Data
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [55]:
# Second Table 
df2 = tables[1]
df2.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [56]:
# Rename headers
df2 = df2.rename(columns = {0:'Fact', 1:'Data'})
df2.head()

                   Fact                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [58]:
facts_df = df1.append(df2, ignore_index=True, sort=False)

facts_df

                       Fact                           Data
0   Mars - Earth Comparison                           Mars
1                 Diameter:                       6,779 km
2                     Mass:                6.39 × 10^23 kg
3                    Moons:                              2
4        Distance from Sun:                 227,943,824 km
5           Length of Year:                 687 Earth days
6              Temperature:                   -87 to -5 °C
7      Equatorial Diameter:                       6,792 km
8           Polar Diameter:                       6,752 km
9                     Mass:  6.39 × 10^23 kg (0.11 Earths)
10                   Moons:          2 ( Phobos & Deimos )
11          Orbit Distance:       227,943,824 km (1.38 AU)
12            Orbit Period:           687 days (1.9 years)
13     Surface Temperature:                   -87 to -5 °C
14            First Record:              2nd millennium BC
15             Recorded By:           Egyptian astronomers

In [59]:
# Parse to an html string
fact_table = facts_df.to_html()
fact_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
browser.quit()