In [1]:
import pandas as pd
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time

## NASA Mars News Scraping

[Mars News Site](https://redplanetscience.com/)

In [ ]:
# # Establish db connection
# conn = "mongodb://localhost:27017"
# client = pymongo.MongoClient(conn)

In [ ]:
# # Define the Mongo database
# # Declare the db
# db = client.mars_db

# # Declare the collection
# collection = db.mars

In [ ]:
# # Define executable path and initialize the browser
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# # Initialize the browser
# url1 = 'https://redplanetscience.com/'
# browser.visit(url1)

In [ ]:
# # Parse into Beautiful Soup object
# news_html = browser.html
# soup = BeautifulSoup(news_html, "html.parser")

In [ ]:
# # Iterate through all cards of the news in the bootstrap code
# # Retrieve all elements that contain News Titles and Paragraph Text
# articles = soup.find_all("div", class_ = "list_text")
   
# # Iterate through each card and retrieve headline and paragraph
# for article in articles:
    
#     # Add delay (had to add this because I got put in timeout jail)
#     time.sleep(5)
       
#     # Use BeautifulSoup's find() method to navigate and retrieve attributes
#     news_title = article.find("div", class_ = "content_title").text
#     news_body = article.find("div", class_ = "article_teaser_body").text
    
#     print("------------------------------------------")
#     print(f"Headline:  {news_title}")
#     print(f"Content:  {news_body}")
   
#     # Dictionary to be inserted as a MongoDB document
#     post = {"Headline": news_title, 
#             "Content": news_body,
#            }
           
#     collection.insert_one(post)

In [ ]:
# # Verify database results 
# results = collection.find()
# for result in results:
#     print(result)

In [ ]:
# post

Didn't use the loop above to get all the headlines, used the following to get only the first headline and text.

In [ ]:
# Define executable path and initialize the browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:

# Initialize the browser
url1 = 'https://redplanetscience.com/'
browser.visit(url1)

In [ ]:
# Parse into Beautiful Soup object
news_html = browser.html
soup = BeautifulSoup(news_html, "html.parser")

In [ ]:
# Retrieve latest news elements
articles = soup.find("div", class_ = "list_text")

In [ ]:
# Use BeautifulSoup's find() method to navigate and retrieve attributes
news_title = articles.find("div", class_ = "content_title").text
news_body = articles.find("div", class_ = "article_teaser_body").text

In [ ]:
news_title

In [ ]:
news_body

In [ ]:
# Close remote browser
# browser.quit()

## JPL Mars Space Images Scraping

[Featured Space Image site](https://spaceimages-mars.com)

In [2]:
# Define executable path and initialize the browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\khagl\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
# Initialize the browser
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)

In [4]:
# Parse into Beautiful Soup object
image_html = browser.html
soup = BeautifulSoup(image_html, "html.parser")

In [5]:
# Find the image url
image_path = soup.find("img", class_ = "headerimage")["src"]
print(image_path)

image/featured/mars3.jpg

In [6]:
featured_img_url = "https://spaceimages-mars.com/"+image_path
print(featured_img_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [7]:
# Close remote browser
# browser.quit()

## Mars Facts

[Mars Facts site](https://galaxyfacts-mars.com)

In [8]:
# Scrape the table using pandas
url3 = "https://galaxyfacts-mars.com/"
    
tables = pd.read_html(url3)

tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
# First Table 
df1 = tables[0]
df1.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [10]:
# Rename headers
df1 = df1.rename(columns = {0:'Description', 1:'Mars', 2:'Earth'})
df1.head()

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [11]:
# Drop the first row
facts_df = df1[df1.Mars != "Mars"]
facts_df

          Description             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
# Reset index
facts_df = facts_df.set_index(["Description"])
facts_df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [13]:
# Parse to an html string
fact_table = facts_df.to_html()

In [14]:
# Display table
fact_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
# Close remote browser
# browser.quit()

## Mars Hemispheres

[Mars Hemispheres site](https://marshemispheres.com/)

In [15]:
# Initialize the browser
url4 = 'https://marshemispheres.com/'
browser.visit(url4)

In [16]:
# Parse into Beautiful Soup object
hemi_html = browser.html
soup = BeautifulSoup(hemi_html, "html.parser")

In [17]:
# Save image url string and hemisphere title to a Python dictionary
hemisphere_img_urls = [{"title":"Cerberus Hemisphere","img_url": "https://marshemispheres.com/images/cerberus_enhanced.tif"},
                       {"title":"Schiaparelli Hemisphere","img_url": "https://marshemispheres.com/images/schiaparelli_enhanced.tif"},
                       {"title":"Syrtis Major Hemisphere","img_url": "https://marshemispheres.com/images/syrtis_major_enhanced.tif"},
                       {"title":"Valles Marineris Hemisphere","img_url": "https://marshemispheres.com/images/valles_marineris_enhanced.tif"},
                      ]

In [18]:
# Display list of dictionaries
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/cerberus_enhanced.tif'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced.tif'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced.tif'}]

In [ ]:
# Can this be automated in a loop?
# Initialize the browser
url5 = "https://marshemispheres.com/"
browser.visit(url5)

In [ ]:
# Parse into Beautiful Soup object
hemi2_html = browser.html
soup = BeautifulSoup(hemi2_html, "html.parser")

In [ ]:
# Retrieve all elements that contain image URLs (in an html table)
links = soup.find_all("div", class_ = "description")

# Create empty list for dictionaries
hemisphere_image_urls = []

# Iterate through the page
for link in links:
    
    # Add delay (had to add this because I got put in timeout jail)
    time.sleep(5)
        
    # Use BeautifulSoup's find() to navigate and retrieve attributes
    img_title = link.find("h3").text
    img_link = link.find("a", class_ = "itemLink product-item")["href"]
    
    # Find the link with the full res image
    browser.visit(url5 + img_link)
    
    # HTML object
    link = browser.html
    
    # Parse HTML with BeautifulSoup
    linksoup = BeautifulSoup(link, "html.parser")
    
    # Full resolution image URL
    url = url5 + linksoup.find("img", class_ = "wide-image")["src"]
    
    # Append to list of dictionaries
    hemisphere_image_urls.append({"title":img_title, "img_url":url})
    
    # Display titles and links
    print("----------")
    print(f"Title:  {img_title}")
    print(f"Link:   {url}")

# Close remote browser
browser.quit()

In [ ]:
# Display list of dictionaries
hemisphere_image_urls

## MongoDB and Flask

These scraping exercises were placed in a python script, scrape_mars.py to return one Python dictionary of all the scraped data